
  .body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


.button{
  display: inline-block;
  padding: 5px 10px;
  color:rgb(255, 255, 255);
  margin-top: 1.5rem;
  text-decoration: none;
  background-color: cadetblue;
  border-radius: 5px;
  transition: 0.5s;
}

.button:hover {
    color: black; /* azul mais escuro ao passar o mouse */
}

